* {
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0px;
  padding: 0px;
}

button {
  cursor: pointer;
}

.App {
  height: 100vh;
}

/* Nav */
.Nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 400px;
  padding: 15px 50px;
  background-color: white;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 15px;

  color: #626267;
}
.nav-links div {
  cursor: pointer;
}
.nav-links button {
  cursor: pointer;
}

.nav-links .register-btn {
  background-color: #141414;
  padding: 10px 25px;
  color: white;
  border-radius: 25px;
  border: none;
}

.nav-links .register-btn:hover {
  background-color: #626267;
}
/* ShowCase */
.ShowCase {
  height: 450px;
  display: flex;
  flex-direction: column;

  position: relative;
}

.showcase-img {
  height: inherit;
  flex: 90%;
  width: 100%;

  background-color: #e0e0e0;

  position: relative;
}
.showcase-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.9;
}
.showcase-bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50px;
  z-index: 1;
  background: #36363a;
  opacity: 0.7;
  backdrop-filter: saturate(180%) blur(40px);
}

.ShowCase h3 {
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 70%;
  font-size: 2.5rem;
  color: white;
  text-align: center;
}
.SearchProducts {
  position: absolute;
  bottom: 100px;
  width: 35%;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  gap: 5px;
  align-items: center;

  padding: 0px;
  background-color: white;

  border-radius: 25px;
  z-index: 2;
}

.SearchProducts input {
  flex: 3;
  padding: 5px 0px;
  border-radius: 25px 0px 0px 25px;
  border: none;

  text-align: center;
}

.SearchProducts input[type="submit"] {
  flex: 1;
  height: 100%;
  padding: 5px 32px;

  border-radius: 0px 25px 25px 0px;
  background-color: #141414;
  color: white;
  font-weight: 700;
}
.SearchProducts input[type="submit"]:hover {
  background-color: #626267;
  cursor: pointer;
}

.profile-pic img {
  width: 250px;
  height: 250px;
}
.profile-icon img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/**Login && Registration**/

.Login {
  width: 100%;
  display: flex;
}

.login-to-register p {
  color: #141414;
  cursor: pointer;
}

.login-to-register p:hover {
  color: #36363a;
}

.login-form-container {
  flex: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Login form {
  margin: 50px auto;
  padding: 25px 0px;
  width: 60%;
}
.Login input,
button,
select {
  outline: none;
  border: 1px solid #bbb;

  margin: 15px 0;
  padding: 5px 0px;
  width: 100%;
  outline: none;
  border: 1px solid #bbb;
  border-radius: 10px;
  display: inline-block;
}
.Login form div label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: rgb(133, 133, 133);
  cursor: pointer;
}

.Login button {
  margin: 5px 0px;
  width: 100%;
  background-color: #141414;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}

.Login button:hover {
  background-color: #36363a;
}

.login-img {
  flex: 50%;
}

.login-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.Registration {
  width: 100%;
  display: flex;
}
.register-to-login {
  font-size: 0.7rem;
  display: flex;
}
.register-to-login p {
  color: #141414;
  margin: 0px 5px;
  cursor: pointer;
}

.register-to-login p:hover {
  color: #36363a;
}

.register-form-container {
  flex: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Registration form {
  margin: 0px auto;
  padding: 25px 10px;
}
.Registration input,
button,
select {
  outline: none;
  border: 1px solid #bbb;

  margin: 15px 0;
  padding: 5px 0px;
  width: 100%;
  outline: none;
  border: 1px solid #bbb;
  border-radius: 10px;
  display: inline-block;
}
.Registration form div label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: rgb(133, 133, 133);
  cursor: pointer;
}

.Registration button {
  margin: 5px 0px;
  width: 100%;
  background-color: #bc412b;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}
.Registration button:hover {
  background-color: #ed6a5a;
}
.register-img {
  flex: 50%;
}

.register-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.Login .err {
  color: red;
  font-size: 0.7rem;
  margin: 0px;
  padding: 0px;
}
.login-register {
  display: flex;
  align-items: center;
  gap: 25px;
}

.login-btn {
  font-size: 1.2rem;
  color: #bc412b;
  background-color: white;
  border: none;
  border-radius: 2px;
}
.login-btn:hover {
  color: #ed6a5a;
}
.register-btn {
  background-color: #bc412b;
  color: white;
  font-weight: bold;
  padding: 12px 5px;
  border-radius: 7px;

  margin-right: 10px;
  border: none;
}

.register-btn2 {
  background-color: #bc412b;
  color: white;
  font-weight: bold;
  padding: 20px 30px;
  margin: 20px;
  border-radius: 8px;
  border: none;
}

.register-btn:hover {
  background-color: #ed6a5a;
}

.register-btn2:hover {
  background-color: #ed6a5a;
}

/* Footer */
.footer-logo {
  color: #f1dabf;
  font-size: 1.2rem;
  font-weight: 700;
}
.footer {
  color: white;
  background-color: #141414;

  font-family: "Ubuntu";

  padding-top: 75px;
  margin-top: 150px;
}

.footer-info {
  display: flex;
  justify-content: space-evenly;

  padding-bottom: 50px;
}

/* Support Section - Footer */
.support-links {
  display: flex;
  flex-direction: column;

  gap: 25px;
}

.support-h {
  margin-bottom: 45px;

  font-weight: 600;
}

.support-links > a {
  color: white;

  text-decoration: none;
}

.support-links > a:hover {
  text-decoration: underline;
}

/* Company Section - Footer */
.company-links {
  display: flex;
  flex-direction: column;

  gap: 25px;
}

.company-h {
  margin-bottom: 45px;

  font-weight: 600;
}

.company-links > a {
  color: white;

  text-decoration: none;
}

.company-links > a:hover {
  text-decoration: underline;
}

/* Connect Section - Footer */
.connect-links {
  display: flex;
  flex-direction: column;

  gap: 25px;
}

.connect-h {
  margin-bottom: 45px;

  font-weight: 600;
}

.connect-links > a {
  color: white;

  text-decoration: none;
}

.connect-links > a:hover {
  text-decoration: underline;
}

.HomePage {
  height: 100vh;
  display: flex;
  width: 100vw;
}

.Main {
  flex: 8;
  height: inherit;
  width: calc(100% - 355px);
  background-color: white;
  overflow-y: scroll;
}

.DashboardNav {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 45px;

  box-shadow: 1px 0px 5px #bbb;
  padding-right: 150px;
}
.DashboardNav p {
  cursor: pointer;
}
.DashboardNav div {
  cursor: pointer;
}
.Sidebar {
  flex: 2;
  width: 30%;

  display: flex;
  flex-direction: column;

  text-align: center;
  padding: 50px 5px;
  background-color: #141414;
}
.Sidebar .logo {
  color: #f1dabf;
}
.logo {
  font-size: 1.3rem;
  font-weight: bold;

  color: #141414;
}
.logo span {
  background-color: #141414;
  color: white;
}
.logout {
  cursor: pointer;
  font-size: 1.1rem;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar-links {
  flex: 90%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.sidebar-links div {
  cursor: pointer;
  margin: 0px 25px;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-links div:hover {
  background-color: white;
  color: #141414;
  border-radius: 2px;
}

/*Products*/
.Products {
  height: calc(100% - 100px);
  width: 100%;
}

.Products .products-div {
  height: 100%;

  margin: 0px;
  padding: 25px;

  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 10px;
}
.Products .item {
  width: 250px;
  height: 200px;
  margin: 5px 0px;

  word-wrap: break-word;
  background-color: white;
}
.ProductCard {
  height: 100%;

  box-shadow: 2px 2px 5px #bbb;
}
.ProductCard .img {
  height: 70%;
  background-color: gray;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.ProductCard .img img {
  height: 100%;
  width: 100%;
}
.Product .slides {
  height: 400px;
  width: 45vw;
  margin: 0px auto;
  position: relative;
  display: flex;

  /* Add the following lines for smooth scrolling */
  scroll-behavior: smooth;
  transition: scroll 0.3s ease-in-out;
}
.currentSlide {
  width: inherit;
}
.slides img {
  width: inherit;
  height: 100%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 5px;
  color: white;

  font-size: 2rem;
  border: none;
  background-color: transparent;
  border: 1px solid #a6a670;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #36363a;
}

.Categories .cards {
  display: flex;
  justify-content: space-evenly;
}
.Categories .heading {
  text-align: center;
  font-weight: 500;
}
.Card {
  background-color: whitesmoke;
  color: #141414;
  padding: 15px;
  border-radius: 25px;
}
.Card:hover {
  background-color: #e4e4e4;
  color: #626267;
  cursor: pointer;
}
.MarketPlace {
  height: 50%;
}
.items-div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.MarketPlace .items-div .item {
  width: 200px;
  height: 250px;
  border-radius: 25px;
}

.MarketPlace .ProductCard {
  height: 100%;

  box-shadow: 2px 2px 5px #bbb;
  border-radius: 25px;
}
.MarketPlace .ProductCard .img {
  height: 70%;
  background-color: gray;
  text-align: center;
  position: relative;
  cursor: pointer;
  border-radius: 25px;
}

.MarketPlace .ProductCard .img img {
  height: 100%;
  width: 100%;
  border-radius: 25px;
}

.Add-div {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

.Add-div button {
  padding: 10px 30px;
  background-color: #756859;
  border: none;
  color: white;
  margin-right: 15px;
  border-radius: 7px;
}
.Add-div button p {
  margin: 0px;
  padding: 0px;
}

.Add-div button:hover {
  background-color: #f1dabf;
}
#add-btn-long-text {
  padding: 0px;
  margin: 0px;
}
#add-btn-short {
  display: none;
}
.cat-add {
  display: flex;
  justify-content: end;
}
.Item .slides {
  flex: 1;
  height: 400px;
  width: 45vw;
  margin: 0px auto;
  position: relative;
  display: flex;

  /* Add the following lines for smooth scrolling */
  scroll-behavior: smooth;
  transition: scroll 0.3s ease-in-out;
}
.currentSlide {
  width: inherit;
}
.slides img {
  width: inherit;
  height: 100%;
}

.product-content {
  display: flex;
  gap: 15px;
  padding: 25px;
}
.Item .product-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.Item .product-info button {
  background-color: #36363a;
  border: none;
  color: white;
  width: 100%;
}
.Item .product-info h4 {
  margin: 0;
  padding: 0;
}
.Item .product-info p {
  margin: 0;
  padding: 0;
  color: #36363a;
}
.UserProfile {
  flex: 85%;
  height: calc(100% - 101px);
  padding: 20px 25px;
  overflow-y: scroll;
  text-align: start;
  display: flex;
  flex-direction: column;
}
.profile-pic {
  width: 291px;
}
.profile-pic img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.account-update button {
  width: 30%;
  background-color: #474037;
  border: none;
  color: white;
}

.close {
  background-color: white;
  padding: 0px;
  margin: 0px;
  border: none;
  text-align: end;
}
